.c {
  height: 100%;
  width: 100%;
  position: relative;
}

/* .c-bg {
  width: 30px;
  height: 100%;
  background-color: #59b256;
  position: absolute;
} */

.c-wrapper {
  /* margin-left: 30px; */
  margin: 20px;
  display: flex;
}

.c-left {
  flex: 1;
}

.c-right {
  flex: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-title {
  font-size: 60px;

  width: 80%;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 30px 0px;
  font-weight: 300;
  width: 70%;
}

.c-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 30px;
}

.c-desc {
  font-weight: 100;
  margin: 20px;
}

.c-info-item1 {
  flex-direction: row;
}

a {
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .c-wrapper {
    flex-direction: column;
    margin: 20px;
  }

  .c-title {
    font-size: 30px;
  }

  .c-info-item {
    margin: 20px 0px;
    width: 100%;
  }

  .c-desc {
    font-weight: 100vw;
    align-self: center;
  }
  .c-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  button {
    margin-top: 10px;
  }
}
